body { font-family: sans-serif; background:#0f172a; color:white; }
        .link { fill: none; stroke: #64748b; stroke-opacity: 0.4; }
        .node circle { fill: #38bdf8; }
        .node text { font-size: 10px; fill: #e2e8f0; }
         /*svg { display:block; margin:auto; width:100%; height:100%; } */

        #layout {
            position: relative;
        }

        #sidebar {
            width: 240px;
            padding: 16px;
            z-index: 10;
        }

        .bucket.list-group-item {
            background:#283f73;
            color:white;
            opacity: 50%;
        }

        #chart {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: top;
        }

        #commentTree {
            background:#283f73;
            position: absolute;
            top: 0;
            right: 0;
            width: 400px;
            height: 100%;
            font-size: x-small;
            overflow-y: auto;
            transform: translateX(100%);
            transition: opacity 0.3s ease-in-out, 0.3s ease;
            z-index: 20;
            opacity: 50%;
        }


        #commentTree.open {
            transform: translateX(0);
            opacity: 1;
        }

        .comment-list {
            list-style-type: none;
        }

        .bi-caret-down-fill,
        .bi-caret-right-fill {
            color: #bbb;
            font-size: 0.75rem;
        }